h1{
    color: chocolate;
}
#Titulo-index{
    color: rgb(114, 7, 7);
}
p{
    color: blue;
}

/* etiqueta con 2 clases

(<p class="texto otraClase">Segundo Parrafo</p>)

*/
p.texto{
    color: rgb(195, 0, 255);
}

p.otraClase{
    color: rgb(237, 100, 100);
}

div p{
    color: darkblue;
}
div h2, div h3{
    color: red;
}
/*clase*/
.color{
    color: cadetblue;
}
.border{
    width: 350px;

    /*
    border-width: 10px;
    border-color: red;
    border-style: solid;
   */

    border-radius: 15px;

    border: 5px red outset;
}

.medidasAbsolutas{
    
}
.medidasRelativas_1{
    
}
.medidasRelativas_2{
    
}
.medidasRelativas_3{
    
}